body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    line-height: 26px;
}


.main{
    background: #c879b2;
    height: 835px;
    
}

.first{
    width: 280px;
}

.first p{
    color: white;
    transform: rotate(-90deg);
    padding-top: 200px;
    margin-left: -420px;
    font-size: 15px;
    font-weight: bold;
}

.blue {
    background-color: #0d2c40;
    color: white;
    padding-top: 230px;
    height: 835px;
    width: 254px;
    
}

.blue h1{
    text-align: left;
    padding: 10px;
}

.blue img{

    height: 300px;
    width: 300px;
    margin-left: -35px;
    margin-top: 130px;

}

.third {
    color: white;
    margin-top: 19%;
    padding: 20px;
    width: 500px;
    

}

.third p{
    width: 470px;
    text-align: left;
}


.third a{
    text-decoration: none;
    color: white;
}


.third img{
    height: 550px;
    width: 825px;
    margin-top: 17px;
    float: left;
    margin-left: -20px;
    
}

.cont-2{
    background: #f6efe5;
    margin-top: -150px;
    color: #0d2c40;
    margin-left: -11px;
    height: 500px;
    
}
    

.cont-2 .incon-1{
    
    padding: 30px;
    margin-top: 180px;
    
}

.cont-2 h2{
    margin-left: -51px;
}

.cont-2 p{
    width: 500px;
    text-align: left;
    padding: 8px;
}
 .ligthblue{
    background-color: rgba(0, 188, 217, 0.8);
    margin-left: 20px;
    margin-top: -8px;
    width: 276px;
    height: 700px;
}

.ligthblue p{
    color: white;
    width: 250px;
    margin-top: 90%;
}

.contimage{
    
    background-color: gray;
background-image: url("mid-century.jpg");
    
    background-size: cover;
    height: 1400px;


}

.conimginside h2{
    
    margin-top: 400px;
    margin-left: -500px;
    color: red;

}


.sideblue{
    background: #0d2c40;
    color: white;

    padding: 20px;
    width: 550px;
    margin-top: 400px;

}
/* 
.sideblue .side{

    transform: rotate(-90deg);
    margin-left: -500px;
    padding-top: -200px;
    font-size: 28px;
    

} */

.sideblue p{
    padding: 30px;
    text-align: left;
    width: 350px;
    margin-left: 50px;
}
.sideblue .sidehead{

    font-size: 28px;
    font-weight: bold;
    transform: rotate(-90deg);
    width: 400px;
    top: 400px;
    margin-left: -173px;
    margin-top: 137px;


}
.sideblue img{
    height: 200px;
    width: 200px;
    margin-top: -657px;
    margin-left: 330px;
}
.container-4{
    text-align: left;
    font-size: 15px;
    background-color: #f6efe5;
    margin: 0px;
    
}

.con4{
    background-color:#f6efe5;
    padding: 10px;
    font-size: 17px;
    margin-top: -100px;
    margin-left:30px;
    width: 600px;
    

}

.con4 h3{
    padding: 20px 0px;
}

.con4 p{
    font-size: 16px;
    width: 550px;
    
}

.container-4 .lightblue{
    background: rgba(0, 188, 217, 0.8);
    width: 280px;
    margin-top: -307px;
    height: 1000px;
}

.lightblue img{
    height: 250px;
    width: 250px;
    margin-left: 5px;
    
}

.lightblue p {
    width: 200px;
    
}

.lightblue h2{
    margin-top: 50px;
}

.container5{
    background-color: #f6efe5;
}

.con5{

    margin-left: 0px;
    text-align: left;
    margin-top: -200px;
    width: 370px;

}

.con51{

    margin-left: 100px;
    text-align: left;
    margin-top: -200px;
    width: 390px;
    
}

.cont-5  img{
    height: 600px;
    width: 450px;
    margin-left: 60px;
    margin-top: -250px;
}

.cont-5 h1{
    font-size: 50px;
    /* z-index: 0; */
    transform: rotate(-90deg);
    margin-left: 400px;

}


.last
{
    background-color: #c879b2;
    margin-block-start: 0px;
    margin-left: -13px;
    
    margin-top: 2px;
    
}

.last h1{
    font-size: 146px;
    color: white;
}


.blue a{
    text-decoration: none;
    color: white;
}

.orange{
    background-color: #f15a30;
    
}

.lblue{
    background-color: #31c5da;
}

.last .first{
    color: white;
    margin-top: 20%;
}

.last .top{
    width: 255px;
    
    height: 600px;
}

.last .top h1{
    margin-top: 109%;
    margin-left: -147px;
    margin-bottom: 20px;
}

.last .top p{
    margin-left: -13px;
    color: white;
    width: 46px;
}

.foorter{
    background-color: #c879b2;
    margin-left: -50px;
}


.fotblue {
    background-color: #31c5da;
    width: 254px;
    margin-left: 11px;
    height: 900px;

}

.fotblue h2{
    color: white;
    transform: rotate(270deg);
    margin-left: -350px;
    margin-top: 130px;
    font-size: 32px;
    margin-bottom: -47px;
}

.fotblue a{
    margin-top: -80px;
}

.foorter img{
    height: 300px;
    width: 250px;
    margin-top: 200px;
    margin-left: -10px;
}